  <div class="place-items-center">
  <form>
    <!--Select Input for Fy-->
        <!--<input type="radio" id="dropdown" name="inputType" [value]="false" (click)="FyInputDrop()">
        <label for="dropdown">Select Steel Grade</label><br>
      <input type="radio" id="numerical" name="inputType" [value]="true" (click)="FyInputType()">
        <label for="numerical">Input Fy</label><br><br>

        <div id="FyDropdown" style="display: none; z-index: 10;">
        <label for="YieldStrengthSelect">Fy:</label><br>
        <select id="YieldStrengthSelect" name="YieldStrength"
        [formControl]="Fy" (change)="calcCompact()">
            <option value=36>A36</option>
            <option value=42>A572 G 42</option>
            <option value=50>A572 G 50</option>
            <option value=55>A572 G 55</option>
            <option value=60>A572 G 60</option>
            <option value=65>A572 G 65</option>
            <option value=50>A913 G 50</option>
            <option value=60>A913 G 60</option>
            <option value=65>A913 G 65</option> 
            <option value=50>A992 G 50</option>
            <option value=1200>TEST</option>
        </select></div>-->

        <div id="FyNumType" style="display: block; z-index: 10;">

        <label for="YieldStrengthType">Yield Strength, F<sub>y</sub> (in ksi):</label>
        <input type="number" id="YieldStrengthType" name="YieldStrength" value="50"
        [formControl]="Fy" ><br><br>
        </div>
      



        <label for="ModulusE">Modulus of Elasticity:</label>
        <input type="number" id="ModulusE" name="ModulusE" value="29000"
        [formControl]="E" ><br><br>
      
        <label for="LamdaFlange">
              <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
              <span>b<sub>f</sub></span>
              <span style="border-top:1px solid">2t<sub>f</sub></span>
              </span>
         or &lambda;<sub>f</sub>:</label>
        <input type="number" id="LamdaFlange" name="LamdaFlange" value="LamdaFlange"
        [formControl]="sharedService.bf2tf" (input)="calcCompact()"><br>
      
        <label for="LamdaWeb">
          <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
            <span>h</span>
            <span style="border-top:1px solid">t<sub>w</sub></span>
            </span>
       or &lambda;<sub>w</sub>:</label>
        <input type="number" id="LamdaWeb" name="LamdaWeb" value="LamdaWeb"
        [formControl]="sharedService.htw" (input)="calcCompact()"><br>
      
        <label for="AreaGross">AreaGross, A<sub>g</sub></label>
        <input type="number" id="AreaGross" name="AreaGross" value="AreaGross"
        [formControl]="sharedService.Ag" (input)="calcCompact()"><br><br>
  </form>
    <!--Error Message-->
    <div id="beamError" role="alert" class="alert alert-error" style="display: none;">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>ERROR: Please select a beam</span>
    </div>
    <!--Error Message-->
    <div id="varError" role="alert" class="alert alert-error" style="display: none;">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
      <span>ERROR: Please input all fields</span>
    </div>
      
<div style="justify-content: center; display: flex;"> <br>
    <div class="stats stats-vertical lg:stats-horizontal shadow bg-primary"> <!--Dito natin ilagay yun results haha-->  
        <div id="BgCompactnessFlange" class="stat text-primary-content place-items-center" style="width: 200px;">
          <div class="stat-title">Flange slenderness</div>
          <div id="ResultCompactnessFlange" class="stat-value">N/A</div>
          <div id="SubCompactnessFlange" class="stat-desc">Input required</div>
        </div>
        
        <div id="BgCompactnessWeb" class="stat text-primary-content place-items-center" style="width: 200px;">
          <div class="stat-title">Web slenderness</div>
          <div id="ResultCompactnessWeb" class="stat-value">N/A</div>
          <div id="SubCompactnessWeb" class="stat-desc">Input required</div>
        </div>
  </div>
</div>
<br><br>
  <div style="justify-content: center; display: flex;">
    <div class="stats stats-vertical text-primary-content lg:stats-horizontal shadow bg-info">
    <button id="calculate" type="button" (mousedown)="calcCompact()">Calculate</button> 
    </div>
  </div>
</div> 