# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/assets/db/imperialW14-16.json
src/assets/db/imperialW4-8.csv
src/assets/db/imperialW10.csv
src/assets/db/imperialW12.csv
src/assets/db/imperialW14-16.csv
src/assets/db/imperialW18.csv
src/assets/db/imperialW21.csv
src/assets/db/imperialW24.csv
src/assets/db/imperialW27.csv
src/assets/db/imperialW33.csv
src/assets/db/imperialW40.csv
src/assets/db/imperialW44.csv
src\assets\db\AISCimperial.csv
src\assets\db\AISCimperial.xlsx
src\assets\db\AISCmetric.csv
src\assets\db\AISCmetric.xlsx
src\assets\db\AISC15-imperial-Wshapes.json.bak
src\assets\db\aisc-shapes-database-v15.0.xlsx
src/assets/db/imperialW14.csv
src/assets/db/imperialW16.csv
src/assets/db/AISC15-imperial-Lshapes.csv
src/assets/db/AISC15-imperial-Ibeams.csv
src/assets/db/AISCimperial_L.csv
src/assets/db/AISCimperial-Cshapes.csv
src/assets/db/~$AISCimperial.xlsx

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
