
<div id="itemsinput" class="flex-row bg-neutral">
    <div>
    <form id="variableForms">
      <h1 style="font-size: 24px; margin-right: 10px; margin-top: -30px; padding-bottom: 5px;">Design for Flexure</h1>
      <div class="columnthing">
    <label for="DL">Dead Load:</label>
          <div class="tooltip tooltip-info" 
          data-tip="Consist of the weight of all materials of construction incorporated into the building or other structure, including but not limited to walls, floors, roofs, ceilings, stairways, built-in partitions, finishes, cladding and other similarly incorporated architectural and structural items, and fixed service equipment, including the weight of cranes.">
                  <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                      </svg>                                          
                  </button>
        </div><br>
        <input type="number" id="DL" name="DL" 
        [formControl]="DL" value="0"> <br>
        
        <label for="LL">Live Load:</label>
            <div class="tooltip tooltip-info" 
          data-tip="The maximum loads expected by the intended use or occupancy but in no case shall be less than the loads required by this section.">
                  <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                      </svg>                                          
                  </button>
      </div><br>
        <input type="number" id="LL" name="LL" 
        [formControl]="LL" value="0"> <br>

        <label for="elemLength">Length</label><br>
        <input type="number" id="elemLength" name="elemLength" 
        [formControl]="elemLength" value="1">

      </div>
      <div class="columnthing">
        <label for="YieldStrength">Yield Stress, F<sub>y</sub> (in ksi):</label>
        <div class="tooltip tooltip-info" 
                  data-tip="The maximum stress a material can withstand before it begins to deform plastically. See References for specifications of different steel types">
                          <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                              </svg>                                          
                          </button>
                  </div><br>
                  <input type="number" id="YieldStrength" name="YieldStrength" value="50"
                  [formControl]="Fy"> <br>
        
                  <label for="ModulusE">Modulus of Elasticity:</label>
                  <div class="tooltip tooltip-info" 
                  data-tip="AKA Young's Modulus. The modulus of elasticity for structural steel is typically taken as 29,000 to 30,000 ksi (kips per square inch) ">
                          <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                              </svg>                                          
                          </button>
                  </div><br>
                  <input type="number" id="ModulusE" name="ModulusE" value="29000"
            [formControl]="E" ><br>

<label for="beamConditions">Support Condition:</label>
                  <div class="tooltip tooltip-info" 
                  data-tip="Each element may have different conditions that affect how the buckling of the column behaves. See references (Table C-A-7.1) for the recommended values of K depending on the support condition">
                          <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                              </svg>                                          
                          </button>
              </div><br>
                          <select id="beamConditions" name="beamCase" [formControl]="beamCase">
                              <label for="beamCase" id="beamCase">Select K</label>
                            <option value=1>Uniformed Load: Simply Supp </option>
                            <option value=2>Uniformed Load: Fixed at one end, supported at other</option>
                            <option value=3>Uniformed Load: Cantilevered</option>
                          </select><br>
                          
                  <label for="beamConditions">Deflection Limits:</label>
                  <div class="tooltip tooltip-info" 
                  data-tip="Each element may have different conditions that affect how the buckling of the column behaves. See references (Table C-A-7.1) for the recommended values of K depending on the support condition">
                          <button (click)="SharedElements.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                              </svg>                                          
                          </button>
              </div><br>
                          <select id="defLimit" name="defLimit" [(ngModel)]="this.SharedElements.defLimit">
                            <option value=0 selected>None</option>
                            <option value=360><span style="font-style: italic;">l</span> / 360</option>
                            <option value=240><span style="font-style: italic;">l</span> / 240</option>
                            <option value=180><span style="font-style: italic;">l</span> / 180</option>
                            <option value=150><span style="font-style: italic;">l</span> / 150</option>
                          </select><br><br>

               </div>   
  
      </form>
    </div>
  </div>
  
  
    <div class="place-items-center">
    <div id="container">
        <div id="tablediv"  style="margin: 20px;">
            
  
      <div id="addRow">
      <br>
      <div style="justify-content: center; display: flex; flex-direction: column;">
                <br>
              <div id="Refreshdiv" class="stats stats-vertical text-primary-content lg:stats-horizontal shadow bg-info">
                <button id="RefreshBtn" (click)="refreshTable()">Refresh Table</button>
                    </div>
            </div>
            
  
  
        <!--ERROR MESSAGES-->
            <app-error-alert id="elemError" style="display: none;" />
            
      </div>
      </div>
    </div>
      </div> 