<div id="content">

    <div id="Main" class="bg-secondary card" 
        style="z-index: 0;">                 

            <div id="Titlecard"
                class="bg-neutral card">
                <figure style="font-size: 4vw; 
                font-weight: 600;
                padding:20px">
                    <img src='assets/images/Logo.png' width="15%"> Bakal-AREA.net
                </figure>
            <div class="divider"></div>
                
            </div>
                    <div id="gallery" class="bg-neutral card">
                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Tension/Analysis">
                                              <h2 class="card-title">
                                                Tensions Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Axial Tension</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Tension</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Tension/Design">
                                              <h2 class="card-title">
                                                Tensions Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Axial Tension</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Tension</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Compression/Analysis">
                                              <h2 class="card-title">
                                                Compression Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Axial Compression</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Compression</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body">
                                              <h2 class="card-title" routerLinkActive="active" routerLink="/Compression/Design">
                                                Compression Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Axial Compression</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Compression</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Bending/Analysis">
                                              <h2 class="card-title">
                                                Flexure Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Analysis Calculator for Bending</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Bending</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Bending/Design">
                                              <h2 class="card-title">
                                                Flexure Designer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Bending</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Bending</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Shear/Analysis">
                                              <h2 class="card-title">
                                                Shear Analyzer
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Shear Analysis Calculator</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Shear</div> 
                                                <div class="badge badge-outline">Analysis</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>

                                    <div class="topic">
                                        <div class="card w-96 bg-base-100 shadow-xl">
                                            <figure><img src="https://as1.ftcdn.net/jpg/01/87/34/28/220_F_187342878_LLYdSfYI6O57dUPamzxmtXqbyaRVoWFz.jpg" width="100%" alt="Calculator" /></figure>
                                            <div class="card-body" routerLinkActive="active" routerLink="/Shear/Design">
                                              <h2 class="card-title">
                                                Shear Design Calculator
                                                <div class="badge badge-secondary">Steel</div>
                                              </h2>
                                              <p>Design Calculator for Axial Compression</p>
                                              <div class="card-actions justify-end">
                                                <div class="badge badge-outline">Shear</div> 
                                                <div class="badge badge-outline">Design</div>
                                              </div>
                                            </div>
                                          </div>
                                    </div>


                    </div>
    </div>
</div>  

<div class="divider"></div>
    <div id="results" class="bg-secondary">
        <div id="calculations">
        </div>
    </div>
