<br>
<span style="display: flex; align-items: center;">
  <h1 style="font-size: 20px; margin-right: 10px;">Table of Elements</h1>
  <div class="tooltip tooltip-info" 
      data-tip="Input the individual elements by stating the its x and y-axes, condition, and length. Afterwhich press calculate">
              <button style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>                                          
              </button>
  </div>
</span>   

<div id="container">
    <div id="tablediv"  style="margin: 20px;">
        <div class="bg-neutral overflow-x-auto">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Element</th>
                  <th><div style="resize: horizontal;">Length (in.)</div></th>
                  <th><div style="resize: horizontal;">k</div></th>
                  <th><div style="resize: horizontal;">r</div></th>
                  <th><div style="resize: horizontal;">kL/r</div></th>
                  <th style="color: red;"></th> <!-- Bagong column para sa "remove button" -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of AnalysisRows; let i = index" >
                  <td>{{i+1}}</td>
                  <td style="overflow-wrap: break-word;">{{row.element}}</td>
                  <td style="overflow-wrap: break-word;">{{row.elemLength}}</td>
                  <td style="overflow-wrap: break-word;">{{row.KFactor}}</td>
                  <td style="overflow-wrap: break-word;">{{row.radiusGyration}}</td>
                  <td style="overflow-wrap: break-word;">{{row.kLr}}</td>
                  <td>
                    <button (click)="removeRow(i)">Remove</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

  <div id="addRow">
    <form>
      <input type="radio" id="xelement" name="element" [value]="false"
          [formControl]="element" >
          <label for="element">x-axis</label> <br>
      <input type="radio" id="yelement" name="element" [value]="true"
          [formControl]="element" > 
          <label for="element">y-axis</label> <br>
      
      <label for="KFactor">Support Condition:</label>
          <div class="tooltip tooltip-info" 
                data-tip="Each element may have different conditions that affect how the buckling of the column behaves. See references (Table C-A-7.1) for the recommended values of K depending on the support condition">
                        <button style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                            </svg>                                          
                        </button>
            </div><br>
      <select name="KFactor" [formControl]="KFactor">
          <label for="KFactor" id="KFactor">Select K</label>
        <option value=0.65>Fixed-Fixed</option>
        <option value=0.8>Pinned-Fixed</option>
        <option value=1.2>Roller-Fixed</option>
        <option value=1>Pinned-Pinned</option>
        <option value=2.1>Free-Fixed</option>
        <option value=2>Roller-Pinned</option>
      </select><br><br>

    <label for="elemLength">Length (in inches):</label><br>
    <input type="number" id="elemLength" name="elemLength" 
    [formControl]="elemLength" value="1" (input)="insertLength()"> <br>
  </form>
  <br><br>
      <div id="addRowdiv" class="stats stats-vertical text-primary-content lg:stats-horizontal shadow bg-info">
    <button (click)="addRow()">CALCULATE</button>
        </div>

    <!--ERROR MESSAGES-->
        <!--No beam-->
        <div id="elemError" role="alert" class="alert alert-error" style="display: none;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          
          </div>
        <!--No length-->
        <div id="LengthError" role="alert" class="alert alert-error" style="display: none;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
          
          <span>ERROR: Please insert Length</span>
          </div>
        <!--No K-->
        <div id="KError" role="alert" class="alert alert-error" style="display: none;">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
          </svg>
            
          </div>
  </div>
  </div>
</div>