#navbar
{width: 100%;
      box-sizing: border-box;} /* This makes sure padding and border are included in the element's total width */

#context
{
      position: absolute;
      display: none;
}

.hidePC {
      display: block;
}

@media (max-width: 1024px) {
      .hidePC {
            display: none;
      }
}