<app-navbar />
<!--TITLE-->
<div class="flex flex-col w-full bg-base-300 card" style="z-index: 0;">
        <h1 style="font-size: 50px;">Bakal-AREA.net</h1>
        <h2>Steel Column Compression chuchu</h2>
        <p> try lang HAHAHA</p>
        </div>

<div class="flex flex-col w-full lg:flex-row">
    <!--SLENDERNESS CHECK-->
    <div id="backcard" class="flex flex-col w-full bg-base-300 card" style="z-index: 0;">
        <h1 style="font-size: 20px;">Slenderness Check</h1>
        <p>I</p>
            <app-compressionbeamshapes /> <!--Dropdown-->
            <app-compression /> <!--Inputsssssss-->
            </div>

        <div class="divider lg:divider-horizontal">OR</div>
    <!--MAX KLR TABLE-->
            <app-elements />
            <br>
</div>

<div class="divider"></div>
    <div id="backcard" class="flex flex-col w-full bg-base-300 card" style="z-index: 0;">
        
    <app-elastic-buckling />
    <p> try lang HAHAHA</p>

        </div>
    <br> <br>

