<div id="navbar"><app-navbar /></div>
<!--TITLE-->
<div id="top" class="flex flex-col w-full bg-secondary card" 
    style="z-index: 0;">
    <h1 style="font-size: 50px;">Bakal-AREA.net</h1>
    <h2>Steel Column Compression chuchu</h2>
</div>


<div id="contentall">
    <div id="leftside">
    <app-leftside/>
    </div>

        <div id="columns">
                <div id="content">
                        <!--SLENDERNESS CHECK-->
                        <div id="bgSlender" class="bg-secondary card" 
                            style="z-index: 0;
                            ">
                            <h1 style="font-size: 20px;">Slenderness Check</h1>
                            <p>Directions</p>
                                <app-compressionbeamshapes /> <!--DROPDOWNNNN-->
                                <br>
                                <app-compression /> <!--INPUTSSSSS-->
                        </div>
                        <!--MAX KLR TABLE-->
                        <div id="bgTable">
                            <app-elements />
                        </div>
                    </div>    

            <div class="divider"></div>
                <div id="results" class="bg-secondary">
                    <div id="calculations" class="flex 
                                                    flex-nowrap 
                                                    flex w-full 
                                                    overflow: hidden;" 
                            style="z-index: 0; 
                                min-width: 100%">   
                        <app-elastic-buckling />
                    </div>
                </div>
        </div>
</div>




<br> <br>
