body {
    width: 100%;
}

  
#top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

#contentall {
    display: grid;
    grid-template-columns: 200px 1fr; /* Colum1 (sidebar) + Column2 (main content) */
    grid-auto-flow: row;
}

    #leftside {
        grid-column: 1;
        min-width: 10px;
        width: 200px;
        word-wrap: break-word; 
    }

    #columns {
        grid-column: 2;

        display: grid;
        grid-template-rows: auto auto; /* Rows */ /* betwwen left and ride section */
    }

            


/* RESPONSIVE LAYOUTS*/

@media (max-width: 1024px) {
    //Laptops
    #top{
        border-bottom-left-radius: 0;
    }

    #contentall {
        display: flex;
        flex-direction: column;
    }

    #leftside {
        display: none;
    }

    #columns {
        width: 100%;
    }


}


//Tablet (768x628)
@media (max-width: 768px) {
    #content {
        display: flex;
        flex-direction: column;
    }
    #contentall {
        display: flex;
        flex-direction: column;
    }
    #leftside {
        display: none;
    }
    #columns {
        width: 100%;
    }

}

@media (max-width: 615px) {
    #top {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 425px) {
    #top {
      width: 100%;
      box-sizing: border-box; /* This makes sure padding and border are included in the element's total width */
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

