<div id="navbar"><app-navbar /></div>
<!--TITLE-->
<div id="top" class="flex flex-col w-full bg-secondary card" 
    style="z-index: 0;">
    <h1 style="margin-left: 5px; margin-top: -5px; font-size: 40px; font-weight: 600;">Steel Compression Analysis Calculator</h1>
    <span style="margin-left: 20px; font-size: 14px; margin-bottom: 7px;">
            <h6>Instructions: Input all the required variables in order and press "Calculate"</h6>
    </span>
</div>


<div id="contentall">
    <div id="leftside">
    <app-leftside/>
    </div>

        <div id="columns">
                <div id="content">
                        <!--SLENDERNESS CHECK-->
                        <div id="bgSlender" class="bg-secondary card" 
                            style="z-index: 0;">                                                   
                                <app-compressionbeamshapes /> <!--DROPDOWNNNN-->
                                <br>
                                <app-compression /> <!--INPUTSSSSS-->
                        </div>
                        <!--MAX KLR TABLE-->
                        <div id="bgTable">
                            <app-elements />
                        </div>
                    </div>    

            <div class="divider"></div>
                <div id="results" class="bg-secondary">
                    <div id="calculations" class="flex 
                                                    flex-nowrap 
                                                    flex w-full 
                                                    overflow: hidden;" 
                            style="z-index: 0; 
                                min-width: 100%">   
                        <app-elastic-buckling />
                    </div>
                </div>
        </div>
</div>




<br> <br>
