<div class="drawer lg:drawer-open" style="padding: 5px;">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content items-center justify-center">
    </div> 
    <div class="drawer-side">
      <ul class="menu min-h-full text-base-content">
        <h6>Instructions:</h6>
        <p>Input all the required variables in order and press "Calculate"</p>
        <!-- Sidebar content here -->
        <figure><img src='assets/images/Patreon.png' alt="Support me on Patreon! jk"> </figure>
          <br><br><br>
        <figure><img src='assets/images/Kofi.png' alt="Buy me a Coffee! jk"> </figure>

      </ul>
    </div>
  </div>