<div id="summary">
    <h1 class="formulaheader">Results</h1>
    <div id="summarySquared">

<!--STEP 1: Centroid-->    
        <div class="collapse bg-neutral collapse-arrow">
            <input type="checkbox" /> 
            <div class="collapse-title text-xl font-medium">
                    Web Shear Coefficient (C<sub>v</sub>)
            </div> 
            <div class="collapse-content"> 
                <!--INFO fr-->        
                    <div class="infoquote">
                            <p>when h/t<sub>w</sub> &le; 2.24 &Sqrt;E/F<sub>y</sub>, <br>
                                    &Phi;<sub>v</sub> = 1.00 (LRFD);<br>
                                    &Omega;;<sub>v</sub> = 1.50 (ASD)<br>
                                    and C<sub>v</sub> = 1.00
                            </p>
                                <br>
                    </div>  
                    <div class="solution" *ngIf="this.MaxMomentsService.sharedService.htw.value">
                        <p style="margin-left: -40%;">h/tw = {{this.MaxMomentsService.sharedService.htw.value}}
                            </p><br>
                        <p style="margin-left: -30%;" *ngIf="this.MaxMomentsService.check1">
                            2.24&radic;(<span>E</span>/F<sub>y</sub>) = 2.24&radic;[({{this.MaxMomentsService.E}})/({{this.MaxMomentsService.Fy}})]
                            = {{this.MaxMomentsService.check1}}
                        </p>
                    </div>
                                        
                    
                <!--Less than 4.17-->        
                <div id="lessthan" *ngIf="this.MaxMomentsService.sharedService.htw.value < this.MaxMomentsService.check1">
                <p style="margin-left: 10%; font-style: italic;">h/tw is lesser or equal, therefore:</p><br>    
                    <div class="equation">
                                    C<sub>v</sub> = 1.0
                                        <br>
                                    &Phi;<sub>v</sub> = 1.0
                                        <br>
                                    &Omega;<sub>v</sub> = 1.5
                                        <br><br>
                    </div>
                </div>
                                        
                <!--greater than 4.17--> 
                <div id="greaterthan" *ngIf="this.MaxMomentsService.sharedService.htw.value > this.MaxMomentsService.check1">
                <p style="font-style: italic;">Since h/tw is greater, therefore:</p><br>        
                    <div class="equation">
                                    &Phi;<sub>v</sub> = 0.9
                                        <br>
                                    &Omega;<sub>v</sub> = 1.67
                                        <br><br>
                                    <div class="infoquote">
                                            <p>since h/t<sub>w</sub> &lt; 260, k<sub>v</sub> = 5 </p><br>
                                            <p>if h/t<sub>w</sub> &le; 1.1 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>], then C<sub>v</sub> = 1</p><br>
                                            <p>if h/t<sub>w</sub> &gt; 1.1 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>], then C<sub>v</sub> = 1.1 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>]</p><br>
                                            <p>if h/t<sub>w</sub> &gt; 1.37 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>], then C<sub>v</sub> = 1.51 &radic;[(k<sub>v</sub>E)/(h/t<sub>w</sub>)(F<sub>y</sub>)<sup>2</sup>]</p><br><br>
                                                </div>  
                    </div>
                    <div class="solution">
                        <p style="margin-left: -10%;">
                            1.1 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>] = 1.1 &radic;[({{this.MaxMomentsService.kv}})({{this.MaxMomentsService.E}}) / {{this.MaxMomentsService.Fy}} ]
                            = {{this.MaxMomentsService.check2}}
                        </p>
                    </div>
                    <div class="solution">
                        <p style="margin-left: -10%;">
                            1.37 &radic;[(k<sub>v</sub>E)/F<sub>y</sub>] = 1.37 &radic;[({{this.MaxMomentsService.kv}})({{this.MaxMomentsService.E}}) / {{this.MaxMomentsService.Fy}} ]
                            = {{this.MaxMomentsService.check3}}
                        </p>
                    </div>
                                    <!--GREATER GREATERRR-->
                <div id="greaterthan" style="margin-left: 20%">
                    <p style="font-style: italic;">Therefore,</p><br>        
                        <div class="equation">
                                        C<sub>v</sub> = {{this.MaxMomentsService.Cv}}
                                            <br>
                        </div>
                    </div> 
                </div>

 
                            
                            
        </div>






                        
            </div>
<br>
<!--STEP 2: Vn-->
            <div class="collapse bg-neutral collapse-arrow">
                <input type="checkbox" /> 
                <div class="collapse-title text-xl font-medium">
                    V<sub>n</sub>
                </div>
            <div class="collapse-content">         
                        <div class="equation">
                                V<sub>n</sub> = 0.6F<sub>y</sub>A<sub>w</sub>C<sub>v</sub>
                        </div>
                                    
                        <div class="solution" *ngIf="this.MaxMomentsService.Vn"><br>
                                = 0.6F<sub>y</sub>dt<sub>w</sub>C<sub>v</sub><br>
                                = 0.6({{this.MaxMomentsService.Fy}})({{this.MaxMomentsService.sharedService.d.value}})({{this.MaxMomentsService.sharedService.tw.value}})({{this.MaxMomentsService.Cv.toFixed(2)}})
                        </div>



                            <h5 class="answer" *ngIf="this.MaxMomentsService.Vn">Vn = {{this.MaxMomentsService.Vn}} </h5>
                </div>
        </div>
<br>                 



<!--STEP 4-1: LRFD-->    
<div class="collapse bg-neutral collapse-arrow">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
            Design Strength (LRFD)
    </div>
<div class="collapse-content"> 
            <div class="equation">
                    Shear Capacity = &Phi;<sub>V</sub>n
            </div>
                        
            <div class="solution" *ngIf="this.MaxMomentsService.Vn"><br>
                     = ({{this.MaxMomentsService.Phi}})({{this.MaxMomentsService.Vn}})
            </div>
                <h5 class="answer" *ngIf="this.MaxMomentsService.Vn">Vu = {{this.MaxMomentsService.Vu}}</h5>
    </div>
</div><br>

<!--STEP 4-2: ASD-->    
    <div class="collapse bg-neutral collapse-arrow">
        <input type="checkbox" /> 
        <div class="collapse-title text-xl font-medium">
                Allowable Strength (ASD)
        </div>
    <div class="collapse-content"> 
                <div class="equation">
                    Shear Capacity = 
                    <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
                        <span>V<sub>n</sub></span>
                        <span style="border-top:1px solid">Ω</span>
                        </span>
                </div>
                            
                <div class="solution" *ngIf="this.MaxMomentsService.Vn"><br>=
                    <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
                        <span>{{this.MaxMomentsService.Vn}}</span>
                        <span style="border-top:1px solid">{{this.MaxMomentsService.Omega}}</span>
                        </span>
                </div>
                    <h5 class="answer" *ngIf="this.MaxMomentsService.Vn">Va = {{this.MaxMomentsService.Va}}</h5>
        </div>
    </div><br> 




<!--FINAL FINAL ANSWER-->
    <div id="finalanswer">
        <div class="stats stats-vertical lg:stats-horizontal shadow bg-primary" >
            <!-- LRFD Results -->  
            <div id="BgLRFD" class="stat text-primary-content place-items-center" style="width: 300px; height: 130px;">
                <div class="stat-title" style="font-size: 24px; font-weight: 600;">LRFD</div>
                <div id="LRFDResult" class="stat-value"> {{this.MaxMomentsService.LRFDResult}} </div>
                <div id="LRFDSub" class="stat-desc" style="font-size: 20px; font-weight: 400; padding-top: 10px;">&Phi;<sub>v</sub>V<sub>n</sub></div>
            </div>
            
            <!-- ASD Results -->
            <div id="BgASD" class="stat text-primary-content place-items-center" style="width: 300px; height: 130px;">
                <div class="stat-title" style="font-size: 24px; font-weight: 600;">ASD</div>
                <div id="ASDResult" class="stat-value"> {{this.MaxMomentsService.ASDResult}} </div>
                <div id="ASDSub" class="stat-desc" style="font-size: 20px; font-weight: 400; padding-top: 10px;">V<sub>n</sub>/&Omega;<sub>v</sub></div>
            </div>
        </div>
    </div>

</div>

