<div id="container">
  <form><span id="filter" class="form-control">
    <label id="bFilterContainer" class="cursor-pointer label" >
      <span class="label-text">Filter</span>
      <span>
          <select id="beamsFilter" name="beamsFilter" [formControl]="beamFilters" (change)="onFilterChange()">
          <option selected value=1>All Wshapes</option>
           <option value=2>W4-8</option>
           <option value=3>W10</option>
           <option value=4>W12</option>
           <option value=5>W14</option>
           <option value=6>W16</option>
           <option value=7>W18</option>
           <option value=8>W21</option>
           <option value=9>W24</option>
          <option value=10>W27</option>
          <option value=11>W33</option>
          <option value=12>W40</option>
          <option value=13>W44</option>
          <option value=14>All beam shapes (NOT RECOMMENDED)</option>
      </select><br><br>
      </span>
    </label>
    </span>
  </form>


    <div id="tablediv">
        <div>
            <table class="table">
              <thead id="heading" style="position: sticky; top: 0;">
                <tr class="bg-primary" style="position: sticky; top: 0;">
                  <th>Beam Shape</th>
                  <th><div style="resize: horizontal;">Factored Load (P<sub>u</sub>)</div></th>
                  <th><div style="resize: horizontal;">Nominal Strength (P<sub>n</sub>)</div></th>
                  <th><div style="resize: horizontal;">LRFD Remarks</div></th>
                  <th><div style="resize: horizontal;">Max. Compressive Load (P<sub>a</sub>)</div></th>
                  <th><div style="resize: horizontal;">Nominal Strength (P<sub>n</sub>)</div></th>
                  <th><div style="resize: horizontal;">ASD Remarks</div></th>
                  <th><div style="resize: horizontal;">Flange</div></th>
                  <th><div style="resize: horizontal;">Web</div></th>
                  <th><div style="resize: horizontal;">A</div></th>         
                  <th><div style="resize: horizontal;">&lambda;<sub>f</sub></div></th>
                  <th><div style="resize: horizontal;">&lambda;<sub>w</sub></div></th>
                  <th><div style="resize: horizontal;">rx</div></th>
                  <th><div style="resize: horizontal;">ry</div></th>
                  <th><div style="resize: horizontal;">maxkLr</div></th>
                  <th><div style="resize: horizontal;">Fe</div></th>
                  <th><div style="resize: horizontal;">Fcr</div></th>
                  <th><div style="resize: horizontal;">Pcr</div></th>
                </tr>
              </thead>
              <tbody class="bg-neutral">
                <tr class="hover" *ngFor="let beamShape of beamShapes$ | async">
                    <td style="font-weight: 500;">{{ beamShape.AISC_Manual_Label }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PuLoad : '-' }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PnLRFD : '-' }}</td>
                    <td style="font-weight: 600;">{{ beamShape.LRFDstatus ? beamShape.LRFDstatus : '-' }}</td>
                    <td>{{ beamShape.PaLoad ? beamShape.PaLoad : '-' }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PnASD : '-' }}</td>
                    <td style="font-weight: 600;">{{ beamShape.ASDstatus ? beamShape.ASDstatus : '-' }}</td>  
                    <td>{{ beamShape.Fcondition ? beamShape.Fcondition : '-'  }}</td>
                    <td>{{ beamShape.Wcondition ? beamShape.Wcondition : '-'  }}</td>                  
                    <td>{{ beamShape.A }}</td>
                    <td>{{ beamShape['bf/2tf'] }}</td>
                    <td>{{ beamShape['h/tw'] }}</td>
                    <td>{{ beamShape.rx }}</td>
                    <td>{{ beamShape.ry }}</td>
                    <td>{{ beamShape.maxkLr ? beamShape.maxkLr : '-'}}</td>
                    <td>{{ beamShape.Fe ? beamShape.Fe : '-'}}</td>
                    <td>{{ beamShape.Fcr ? beamShape.Fcr : '-' }}</td>
                    <td>{{ beamShape.Pcr ? beamShape.Pcr : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>