<div id="container">
  <span id="filter" class="form-control">
    <label class="cursor-pointer label" >
      <span class="label-text">Filter Beams</span><div class="tooltip tooltip-info" 
      data-tip="Filter Beams: Filter the table to show only appropriate beams (W-shapes)">
              <button style="transform: scale(0.7); vertical-align: top; margin-right: 40px;">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                  </svg>                                          
              </button>
  </div>
      <input type="checkbox" checked="checked" value="approWshape" class="checkbox checkbox-primary checkbox-xs" (change)="onCheckboxChange()"/>
    </label>
    
</span>


    <div id="tablediv">
        <div>
            <table class="table">
              <thead id="heading" style="position: sticky; top: 0;">
                <tr class="bg-primary" style="position: sticky; top: 0;">
                  <th>Beam Shape</th>
                  <th><div style="resize: horizontal;">Factored Load (P<sub>u</sub>)</div></th>
                  <th><div style="resize: horizontal;">Nominal Strength (P<sub>n</sub>)</div></th>
                  <th><div style="resize: horizontal;">LRFD Remarks</div></th>
                  <th><div style="resize: horizontal;">Max. Compressive Load (P<sub>a</sub>)</div></th>
                  <th><div style="resize: horizontal;">Nominal Strength (P<sub>n</sub>)</div></th>
                  <th><div style="resize: horizontal;">ASD Remarks</div></th>
                  <th><div style="resize: horizontal;">Flange</div></th>
                  <th><div style="resize: horizontal;">Web</div></th>
                  <th><div style="resize: horizontal;">A</div></th>         
                  <th><div style="resize: horizontal;">&lambda;<sub>f</sub></div></th>
                  <th><div style="resize: horizontal;">&lambda;<sub>w</sub></div></th>
                  <th><div style="resize: horizontal;">rx</div></th>
                  <th><div style="resize: horizontal;">ry</div></th>
                  <th><div style="resize: horizontal;">maxkLr</div></th>
                  <th><div style="resize: horizontal;">Fe</div></th>
                  <th><div style="resize: horizontal;">Fcr</div></th>
                  <th><div style="resize: horizontal;">Pcr</div></th>
                </tr>
              </thead>
              <tbody class="bg-neutral">
                <tr class="hover" *ngFor="let beamShape of beamShapes$ | async">
                    <td style="font-weight: 500;">{{ beamShape.AISC_Manual_Label }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PuLoad : '-' }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PnLRFD : '-' }}</td>
                    <td style="font-weight: 600;">{{ beamShape.LRFDstatus ? beamShape.LRFDstatus : '-' }}</td>
                    <td>{{ beamShape.PaLoad ? beamShape.PaLoad : '-' }}</td>
                    <td>{{ beamShape.PuLoad ? beamShape.PnASD : '-' }}</td>
                    <td style="font-weight: 600;">{{ beamShape.ASDstatus ? beamShape.ASDstatus : '-' }}</td>  
                    <td>{{ beamShape.Fcondition ? beamShape.Fcondition : '-'  }}</td>
                    <td>{{ beamShape.Wcondition ? beamShape.Wcondition : '-'  }}</td>                  
                    <td>{{ beamShape.A }}</td>
                    <td>{{ beamShape['bf/2tf'] }}</td>
                    <td>{{ beamShape['h/tw'] }}</td>
                    <td>{{ beamShape.rx }}</td>
                    <td>{{ beamShape.ry }}</td>
                    <td>{{ beamShape.maxkLr ? beamShape.maxkLr : '-'}}</td>
                    <td>{{ beamShape.Fe ? beamShape.Fe : '-'}}</td>
                    <td>{{ beamShape.Fcr ? beamShape.Fcr : '-' }}</td>
                    <td>{{ beamShape.Pcr ? beamShape.Pcr : '-'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
</div>