<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<div id="summary" style="padding: 10%;">
<h1>Computations</h1>

    <h2>Euler Elastic Buckling (Fe)</h2>
        <p>'F_e=(π^2 E)/((〖kL/r)〗^2 )'</p> <br>

    <h2>F critical</h2>
        <blockquote>F_cr=[〖0.658〗^(F_y/F_e )]F_y</blockquote><br>
        <blockquote>F_cr=0.877F_e</blockquote><br><br>

    <h2>Pn</h2>
    <blockquote>P_cr=F_cr Ag</blockquote><br><br>
    <blockquote>P_cr=P_n</blockquote><br>
    <blockquote>P_n=F_cr Ag</blockquote><br>

    <h3>LRFD</h3>
        <blockquote>
            P_u=∅P_n
        </blockquote><br>

    <h3>ASD</h3>
        <blockquote>
            P_a=P_n/Ω
        </blockquote><br>

    </div>
