<div id="summary">
    <h1>Computations</h1>
    <div id="summarySquared">
        <h2>Euler Elastic Buckling (F<sub>e</sub>)</h2>
        F<sub>e</sub> = 
        <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
            <span>π<sup>2</sup>E</span>
            <span style="border-top:1px solid">(kL/r)<sup>2</sup></span>
            </span>
            <br><br>

        <h6>{{ elasticBucklingService.FeResult }}</h6>
            <br><br><br>
    
        <h2>F critical</h2>
        F<sub>cr</sub> = [0.658 <sup>
                <span>F<sub>y</sub></span>/F<sub>e</sub></sup>
                ]F<sub>y</sub>
                <br><br>
    
            <br>
            F<sub>cr</sub> = 0.877Fe
            <br><br>
        <h6>{{ elasticBucklingService.FcrResult }}</h6>
            <br><br><br>
    
        <h2>Pn</h2>
        P<sub>cr</sub> = F<sub>cr</sub>A<sub>g</sub>
            <br><br>
        P<sub>cr</sub> = P<sub>n</sub>
            <br><br>
        P<sub>n</sub> = F<sub>cr</sub>A<sub>g</sub>
            <br>
        <h6>{{ elasticBucklingService.PcrResult }}</h6>
            <br><br><br>
    
        <h3>LRFD</h3>
            <br>
        P<sub>u</sub> = ∅P<sub>n</sub>
            <br>
        <h4>{{ elasticBucklingService.LRFDResult }}</h4>
            <br><br><br>
    
        <h3>ASD</h3>
            <br>
        P<sub>a</sub>=
                <span style="display:inline-flex;flex-direction:column;vertical-align:middle;">
                    <span>P<sub>n</sub></span>
                    <span style="border-top:1px solid">Ω</span>
                    </span>
            <br>
        <h4 style="display: none;">{{ elasticBucklingService.ASDResult }}</h4>
            <br><br><br>
    
        <br><br>
        <p>{{ elasticBucklingService.result }}</p>
            <br><br><br>
    
        <div class="stats stats-vertical lg:stats-horizontal shadow bg-primary">
            <!-- LRFD Results -->  
            <div id="BgLRFD" class="stat text-primary-content place-items-center" style="width: 300px; height: 130px;">
                <div class="stat-title" style="font-size: 24px; font-weight: 600;">LRFD</div>
                <div id="LRFDResult" class="stat-value">{{ elasticBucklingService.displayLRFDResult }}</div>
                <div id="LRFDSub" class="stat-desc" style="font-size: 20px; font-weight: 400; padding-top: 10px;">Pu</div>
            </div>
            
            <!-- ASD Results -->
            <div id="BgASD" class="stat text-primary-content place-items-center" style="width: 300px; height: 130px;">
                <div class="stat-title" style="font-size: 24px; font-weight: 600;">ASD</div>
                <div id="ASDResult" class="stat-value">{{ elasticBucklingService.displayASDResult }}</div>
                <div id="ASDSub" class="stat-desc" style="font-size: 20px; font-weight: 400; padding-top: 10px;">Pa</div>
            </div>
        </div>
    </div>
</div>
