<div id="container">
    <form><span id="filter" class="form-control">     
      <label id="bFilterContainer" class="cursor-pointer label" >
        <div class="tooltip tooltip-info" 
        data-tip="Click the element beside the chosen column heading to sort the values in descending or ascending form">
                <button (click)="sharedService.noReloadPls($event)" style="transform: scale(0.7); vertical-align: top; margin-right: -5px;">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                    </svg>                                          
                </button>
        </div>
        <span class="label-text">Filter</span>
        <span>
            <select id="beamsFilter" name="beamsFilter" [formControl]="beamFilters" (change)="onFilterChange()">
            <option selected value=1>All W-shapes</option>
             <option value=2>W4-8</option>
             <option value=3>W10</option>
             <option value=4>W12</option>
             <option value=5>W14</option>
             <option value=6>W16</option>
             <option value=7>W18</option>
             <option value=8>W21</option>
             <option value=9>W24</option>
            <option value=10>W27</option>
            <option value=11>W33</option>
            <option value=12>W40</option>
            <option value=13>W44</option>
            <option value=14>All All I-shapes</option>
            <option value=15>All beam shapes (NOT RECOMMENDED)</option>
        </select>
        </span>
      </label>
      </span><br><br>
    </form>
  
  
      <div id="tablediv">
          <div>
              <table matSort (matSortChange)="this.sortData($event)" class="table">
                <thead id="heading">
                  <tr class="bg-primary">
                    <th mat-sort-header="AISC_Manual_Label">Beam Shape</th>
                    <th mat-sort-header="W"><div style="resize: horizontal;">Weight</div></th>
                    <th mat-sort-header="Zx"><div style="resize: horizontal;">Z<sub>x</sub></div></th>
                    <th><div style="resize: horizontal;">Z<sub>required (LRFD)</sub></div></th>
                    <th mat-sort-header="MuDemand"><div style="resize: horizontal;">Factored Ultimate Load Moment (M<sub>u</sub>)</div></th>
                    <th mat-sort-header="MuCapacity"><div style="resize: horizontal;">Nominal Moment Strength (&Phi;<sub>b</sub>M<sub>n</sub>)</div></th>
                    <th mat-sort-header="LRFDstatus"><div style="resize: horizontal;">LRFD Remarks</div></th>
                    <th><div style="resize: horizontal;">Z<sub>required (ASD)</sub></div></th>
                    <th mat-sort-header="MaDemand"><div style="resize: horizontal;">Required Strength (M<sub>a</sub>)</div></th>
                    <th mat-sort-header="MaCapacity"><div style="resize: horizontal;">Nominal Flexural Strength (M<sub>n</sub>/&Omega;<sub>b</sub>)</div></th>
                    <th mat-sort-header="ASDstatus"><div style="resize: horizontal;">ASD Remarks</div></th>
                    <th mat-sort-header="deflectionMax"><div style="resize: horizontal;">Def<sub>max</sub></div></th>
                    <th mat-sort-header="defAllowable"><div style="resize: horizontal;">Def<sub>allowable</sub></div></th>
                    <th mat-sort-header="ASDstatus"><div style="resize: horizontal;">Deflection Remarks</div></th>
                    <th mat-sort-header="Ix"><div style="resize: horizontal;">I<sub>x</sub></div></th>
                    <th mat-sort-header="Irequired"><div style="resize: horizontal;">I<sub>required</sub></div></th>
                    <th mat-sort-header="Sx"><div style="resize: horizontal;">S<sub>x</sub></div></th>    
                    <th mat-sort-header="Fcondition"><div style="resize: horizontal;">Flange</div></th>
                    <th mat-sort-header="Wcondition"h><div style="resize: horizontal;">Web</div></th>     
                    <th mat-sort-header="bf2tf"><div style="resize: horizontal;">&lambda;<sub>f</sub></div></th>
                    <th mat-sort-header="htw"><div style="resize: horizontal;">&lambda;<sub>w</sub></div></th>
                    <th><div style="resize: horizontal;">W<sub>u</sub> (Including Beam Weight)</div></th>
                    <th><div style="resize: horizontal;">W<sub>u</sub> (NOT including Beam Weight)</div></th>
                    <th><div style="resize: horizontal;">W<sub>a</sub> (Including Beam Weight)</div></th>
                    <th><div style="resize: horizontal;">W<sub>a</sub> (NOT including Beam Weight)</div></th>
                  </tr>
                </thead>
                <tbody class="bg-neutral">
                  <tr class="hover" *ngFor="let beamShape of beamShapes$ | async">
                      <td style="font-weight: 500;">{{ beamShape.AISC_Manual_Label }}</td>
                      <td>{{ beamShape.W }}</td>
                      <td class="bg-accent">{{ beamShape.Zx }}</td>
                      <td>{{ beamShape.ZU }}</td>
                      <td>{{ beamShape.MuDemand ? beamShape.MuDemand : '-' }}</td>
                      <td class="bg-accent">{{ beamShape.MuCapacity ? beamShape.MuCapacity : '-' }}</td>
                      <td style="font-weight: 600;">{{ beamShape.LRFDstatus ? beamShape.LRFDstatus : '-' }}</td>
                      <td>{{ beamShape.ZA }}</td>
                      <td>{{ beamShape.MaDemand ? beamShape.MaDemand : '-' }}</td>
                      <td class="bg-accent">{{ beamShape.MaCapacity ? beamShape.MaCapacity : '-' }}</td>
                      <td style="font-weight: 600;">{{ beamShape.ASDstatus ? beamShape.ASDstatus : '-' }}</td>
                      <td >{{ beamShape.deflectionMax}}</td>
                      <td class="bg-accent">{{ beamShape.defAllowable}}</td>
                      <td style="font-weight: 600;">{{ beamShape.ASDdeflection ? beamShape.ASDdeflection : '-' }}</td>
                      <td class="bg-accent">{{ beamShape.Ix}}</td>
                      <td>{{ beamShape.requiredI ? beamShape.requiredI : '-'}}</td>   
                      <td>{{ beamShape.Sx}}</td>  
                      <td>{{ beamShape.Fcondition ? beamShape.Fcondition : '-'  }}</td>
                      <td>{{ beamShape.Wcondition ? beamShape.Wcondition : '-'  }}</td>                  
                      <td>{{ beamShape['bf/2tf'] }}</td>
                      <td>{{ beamShape['h/tw'] }}</td>
                      <td class="bg-accent">{{ beamShape.Wu }}</td>
                      <td>{{ beamShape.WuNoBeam }}</td>
                      <td class="bg-accent">{{ beamShape.Wa }}</td>
                      <td>{{ beamShape.WaNoBeam }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
  </div>