<div id="container">
    <form><span id="filter" class="form-control">
      <label id="bFilterContainer" class="cursor-pointer label" >
        <span class="label-text">Filter</span>
        <span>
            <select id="beamsFilter" name="beamsFilter" [formControl]="beamFilters" (change)="onFilterChange()">
            <option selected value=1>All Wshapes</option>
             <option value=2>W4-8</option>
             <option value=3>W10</option>
             <option value=4>W12</option>
             <option value=5>W14</option>
             <option value=6>W16</option>
             <option value=7>W18</option>
             <option value=8>W21</option>
             <option value=9>W24</option>
            <option value=10>W27</option>
            <option value=11>W33</option>
            <option value=12>W40</option>
            <option value=13>W44</option>
            <option value=14>All beam shapes (NOT RECOMMENDED)</option>
        </select><br><br>
        </span>
      </label>
      </span>
    </form>
  
  
      <div id="tablediv">
          <div>
              <table matSort (matSortChange)="this.sortData($event)" class="table">
                <thead id="heading">
                  <tr class="bg-primary">
                    <th mat-sort-header="AISC_Manual_Label">Beam Shape</th>
                    <th mat-sort-header="W"><div style="resize: horizontal;">Weight</div></th>
                    <th mat-sort-header="Zx"><div style="resize: horizontal;">Z<sub>x</sub></div></th>
                    <th><div style="resize: horizontal;">Z<sub>assumed (LRFD)</sub></div></th>
                    <th mat-sort-header="MuDemand"><div style="resize: horizontal;">Factored Ultimate Load Moment (M<sub>u</sub>)</div></th>
                    <th mat-sort-header="MuCapacity"><div style="resize: horizontal;">Nominal Moment Strength (M<sub>n</sub>S<sub>b</sub>)</div></th>
                    <th mat-sort-header="LRFDstatus"><div style="resize: horizontal;">LRFD Remarks</div></th>
                    <th><div style="resize: horizontal;">Z<sub>assumed (ASD)</sub></div></th>
                    <th mat-sort-header="MaDemand"><div style="resize: horizontal;">Required Strength (M<sub>a</sub>)</div></th>
                    <th mat-sort-header="MaCapacity"><div style="resize: horizontal;">Nominal Flexural Strength (M<sub>n</sub>/O<sub>b</sub>)</div></th>
                    <th mat-sort-header="ASDstatus"><div style="resize: horizontal;">ASD Remarks</div></th>
                    <th mat-sort-header="Ix"><div style="resize: horizontal;">I<sub>x</sub>></div></th>
                    <th mat-sort-header="Sx"><div style="resize: horizontal;">S<sub>x</sub></div></th>    
                    <th mat-sort-header="Fcondition"><div style="resize: horizontal;">Flange</div></th>
                    <th mat-sort-header="Wcondition"h><div style="resize: horizontal;">Web</div></th>     
                    <th mat-sort-header="bf2tf"><div style="resize: horizontal;">&lambda;<sub>f</sub></div></th>
                    <th mat-sort-header="htw"><div style="resize: horizontal;">&lambda;<sub>w</sub></div></th>
                    <th><div style="resize: horizontal;">Wu</div></th>
                    <th><div style="resize: horizontal;">Wa</div></th>
                  </tr>
                </thead>
                <tbody class="bg-neutral">
                  <tr class="hover" *ngFor="let beamShape of beamShapes$ | async">
                      <td style="font-weight: 500;">{{ beamShape.AISC_Manual_Label }}</td>
                      <td>{{ beamShape.W }}</td>
                      <td>{{ beamShape.Zx }}</td>
                      <td>{{ beamShape.ZU }}</td>
                      <td>{{ beamShape.MuDemand ? beamShape.MuDemand : '-' }}</td>
                      <td>{{ beamShape.MuCapacity ? beamShape.MuCapacity : '-' }}</td>
                      <td style="font-weight: 600;">{{ beamShape.LRFDstatus ? beamShape.LRFDstatus : '-' }}</td>
                      <td>{{ beamShape.ZA }}</td>
                      <td>{{ beamShape.MaDemand ? beamShape.MaDemand : '-' }}</td>
                      <td>{{ beamShape.MaCapacity ? beamShape.MaCapacity : '-' }}</td>
                      <td style="font-weight: 600;">{{ beamShape.ASDstatus ? beamShape.ASDstatus : '-' }}</td>
                      <td>{{ beamShape.Ix}}</td>  
                      <td>{{ beamShape.Sx}}</td>  
                      <td>{{ beamShape.Fcondition ? beamShape.Fcondition : '-'  }}</td>
                      <td>{{ beamShape.Wcondition ? beamShape.Wcondition : '-'  }}</td>                  
                      <td>{{ beamShape['bf/2tf'] }}</td>
                      <td>{{ beamShape['h/tw'] }}</td>
                      <td>{{ beamShape.Wu }}</td>
                      <td>{{ beamShape.Wa }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
      </div>
  </div>